{% extends "users/user_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content">
    <br />
    <div class="content-section">
        <div class="row">
            <div class="col-lg-7">
                <br />
                <div class="alert alert-info">
                    <h3>
                        <p class="fa fa-envelope"> An email has been sent with instructions to reset your password.</p>
                    </h3>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}