{% extends "admin_app/admin.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard
            <div class="pull-right"><a href="{% url 'admin_app:logs-create' %}"><button type="button"
                        class="btn btn-primary">Create Logs</button></a></div>
        </h1>
    </div>


    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-envelope-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ emails }}</div>
                        <div>Email Accounts</div>
                    </div>
                </div>
            </div>
            <a href="{% url 'admin_app:email' %}">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ networks }}</div>
                        <div>Network Accounts</div>
                    </div>
                </div>
            </div>

            <a href="{% url 'admin_app:network' %}">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>

    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ jabbers }}</div>
                        <div>Jabber Accounts</div>
                    </div>
                </div>
            </div>
            <a href="{% url 'admin_app:jabber' %}">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-times fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">21</div>
                        <div>Accounts for Deletion</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<style>
    th {
        background-color: #4f79b8;
        color: white;
        font-size: 120%;
    }

    h2 {
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px
    }
</style>
<div class="row">
    <div class="col-lg-12" data-role="header" data-position="fixed">
        <h1 class="page-header">Account Logs</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="col-lg-12">
    <div class="panel panel-default">

        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Transaction Type</th>
                            <th>Branch-Company Department</th>
                            <th>Responsible</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for log in logs %}

                        <tr>
                            <td>{{ log.date_created|date:"F d, Y" }}</td>
                            <td><a href="{% url 'admin_app:logs-detail' log.logsid %}">{{ log.name }}</a></td>
                            <td>{{ log.transactiontype }}</td>
                            <td>{{ log.Branch_Comp_Dept }}</td>
                            <td>{{ log.created_by }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
<div class="row">
    <div class="col-lg-12" data-role="header" data-position="fixed">
        <h1 class="page-header">User Logs Reports</h1>
    </div>
    <h2>{% for user in countlogs %}

        <p>{{user.username}}'s total logs({{user.total_logs }}) <p>

                {% endfor %}</h2>

    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<link href="{% static 'admin_app/vendor/morrisjs/morris.css' %}" rel="stylesheet">

<!-- Morris Charts JavaScript -->
<script src="{% static 'admin_app/vendor/raphael/raphael.min.js' %}"></script>
<script src="{% static 'admin_app/vendor/morrisjs/morris.min.js' %}"></script>
<script src="{% static 'admin_app/data/morris-data.js' %}"></script>
{% endblock %}